.page {
  //background: url(/static/image/bg/0.jpg) no-repeat 0 0 / cover;
  background-image -webkit-linear-gradient(to right, purple, blue);
  background-image -moz-linear-gradient(to right, purple, blue);
  background-image -o-linear-gradient(to right, purple, blue);
  background-image: linear-gradient(to right, purple, blue);
}
